

<div>
    <div>
        <h3><%= category.name %></h3>
    </div>

    <br>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% category.event.forEach(function(event) {%>
        <div class="col">
          <div class="card shadow-sm">
            <div id="<%= event.eventName %>" class="carousel slide" style="width:100%; height:225;">
                <div class="carousel-inner">
                    <% event.image.forEach(image =>{ %>
                        <div class="carousel-item active">
                            <img src="<%= image %>" class="d-block w-100" height="255">
                        </div>
                    <% }); %>
                </div>

               
                <button class="carousel-control-prev" type="button" data-bs-target="#<%= event.eventName %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#<%= event.eventName %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title"><%= event.name %></h5>
                    <p class="text-body-tertiary text-size"><%= dayjs(event.startDate).format('MM/DD/YYYY') %> - <%= dayjs(event.endDate).format('MM/DD/YYYY') %></p>
                </div>
                <div>
                    <p>Opening Time: <%= event.time %></p>
                    <p>Location: <%= event.location %></p>
                </div>
                <a href="/event/detail?id=<%= event._id %>"><button type="button" class="btn btn-outline-secondary w-100 ">View</button></a>
            </div>
          </div>
        </div>
        <% }); %>
    </div>

</div>
