
<div>
    <div>
        <h3><%= category.name %></h3>
    </div>

    <br>

    <% category.event.forEach(function(event) {%>
        <div>
            <div>Event: <%= event.name %></div>
            <div>Description: <%= event.description %></div>
            <div>Start Date: <%= dayjs(event.startDate).format('MM/DD/YYYY') %></div>
            <div>End Date: <%= dayjs(event.endDate).format('MM/DD/YYYY') %></div>
            <div>Opening Time: <%= event.time %></div>
            <div>Location: <%= event.location %></div>

        </div>
    <% }); %>

</div>
