<section class="text-center">
<h1><%= event.name %></h1>

<div>
    <p class="event-p">Category: <%= event.category.map(c => c.name).join(', ')%></p>
</div>
<p class="event-p"><%= dayjs(event.startDate).format('MM/DD/YYYY') %> - <%= dayjs(event.endDate).format('MM/DD/YYYY') %></p>

    <div>
        <p class="event-p">Time: <%= event.time  %></p>
    </div>
<div>
    <p class="event-p">Location: <%= event.location  %></p>
</div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <% for(let i = 0; i < event.image.length; i++) { %>
            <div class="carousel-item <% if(i == 0){ %>active<% } %>" >
                <img class="w-50 h-100 img-fluid event-img" src="<%= event.image[i] %>" alt="Current Event Image">
            </div>
            <% } %>
        </div>
      </div>


<div class="mb-5">
    <p class="event-desc"><%= event.description %></p>
</div>

<br>
<% let count = 0;
// If the review for this event is not empty 
if(review.length != 0){ %>
<h4>Reviews</h4>
<% review.forEach(review =>{ 
    // The loop is to go for all users in this review page and if the user have written a review he can edit or delete the review
    review.user.forEach(reviewUser =>{ %>
        <div class="card mb-3 rounded text-center card-comment" style="max-width: 700px;">
            <div class="row g-0 align-items-center">
                <div class="col-4 d-flex justify-content-center">
                    <img src="<%= reviewUser.avatar %>" class="img-fluid" style="width: 30%; border-radius: 50%;" alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= reviewUser.name %></h5>

        <%
        // If the user is logged in
        if(user){%> 
            <%if(reviewUser._id.toString() === user._id.toString()){
                count++
                // The form to edit or delete the review if he user has one

                %>
                <div class="">
    <form method="POST" action="review/edit">
        <textarea name="comment" cols="30" ><%= review.comment %></textarea>
        <input name="id" value="<%= review._id %>" type="hidden">
        <input type="hidden" name="eventId" value="<%= event._id %>">
        <button class="btn btn-secondary">Edit</button> 
    </form>
    <form method="POST" action="review/delete">
        <input type="hidden" name="id" value="<%= review._id %>" >
        <input type="hidden" name="eventId" value="<%= event._id %>">
        <button class="btn btn-secondary">Delete</button>
    </form>
</div>

        <% }else{ %>
            <%= review.comment %>
        <%}
    }else{ %>
        <%= review.comment %>
        <% } %>
                            </div>
                </div>
            </div>
        </div>
    <% }) %>
<% }) // If there is no reviews 
}else{%>
<h4>No Reviews</h4>
<%if(user){
    if(count != 0){%>
    <form method="POST" action="review">
        <input type="text" name="comment">
    <input type="hidden" name="event" value="<%= event._id %>">
    <input type="hidden" name="user" value="<%= user._id %>">
    <button type="submit">Comment</button>
</form>
<%}}
} %>


<%if(user){
    if(count == 0){%>
    <form method="POST" action="review">
    <input type="text" name="comment">
    <input type="hidden" name="event" value="<%= event._id %>">
    <input type="hidden" name="user" value="<%= user._id %>">
    <button type="submit">Comment</button>
</form>
<%}}%>

</section>

