<h1>Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Time</th>
        <th>Image</th>
        <th>Location</th>
        <th>Category</th>
        <% if(user){
            if(user.type == "admin"){
        %>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Delete</th>
        <th>Edit</th>
        <% }} %>
    </tr>

    <% events.forEach(event => {%>
         <tr>
            <td>
                <a href="/event/detail?id=<%= event._id  %>">
                <%= event.name  %>
            </a>
            </td>
            <td><%= event.description  %></td>
            <td><%= dayjs(event.startDate).format('MM/DD/YYYY')  %></td>
            <td><%=dayjs(event.EndDate).format('MM/DD/YYYY')  %></td>
            <td><%= event.time  %></td>
            <td><%= event.image  %></td>
            <td><%= event.location  %></td>
            <td><%= event.category.map(c => c.name).join(', ')%></td>
            <td><%= event.category  %></td>
            <% if(user){
                if(user.type == "admin"){
            %>
            <td>created <%= dayjs(event.createdAt).fromNow(true) %> ago</td>
            <td>updated <%= dayjs(event.updated).fromNow(true) %> ago</td>
            <td><a href="/event/delete?id=<%= event._id %>" class="btn btn-danger bi bi-trash3"></a></td>
            <td><a href="/event/edit?id=<%= event._id %>" class="btn btn-secondary bi bi-pencil"></a></td>
            <% }} %>
         </tr>
        
    <% }); %>
</table>