<div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="mb-5">Events</h1>
    <% if(user){
        if(user.type == "admin"){
    %>
            <a href="/event/add"><button type="button" class="btn btn-secondary fs-5 justify-content-end bi bi-plus"></button></a>
    <% }} %>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% events.forEach(event => {%>
    <div class="col">
        <div class="card shadow-sm">

            <div id="<%= event.eventName %>" class="carousel slide" style="width:100%; height:225;">
                <div class="carousel-inner">
                    <% event.image.forEach(image =>{ %>
                        <div class="carousel-item active">
                            <img src="<%= image %>" class="d-block w-100" height="255">
                        </div>
                    <% }); %>
                </div>

               
                <button class="carousel-control-prev" type="button" data-bs-target="#<%= event.eventName %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#<%= event.eventName %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
           
            <div class="card-body">
                <p class="text-body-secondary"><%= event.category.map(c => c.name).join(', ')%></p>
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title"><%= event.name %></h5>
                    <p class="text-body-tertiary text-size"><%= dayjs(event.startDate).format('MM/DD/YYYY') %> - <%= dayjs(event.endDate).format('MM/DD/YYYY') %></p>
                </div>
                <div>
                    <p>Opening Time: <%= event.time %></p>
                    <p>Location: <%= event.location %></p>
                </div>
                <% if (user) { %>
                    <% if (user.type == "admin"){ %>
                    <p class="d-flex text-size text-body-tertiary">Modified <%= dayjs(event.updated).fromNow(true) %> ago</p>
                <% }} %>


            <% if (!user || user.type == "user") { %>
                <a href="/event/detail?id=<%= event._id %>"><button type="button" class="btn btn-outline-secondary w-100 ">View</button></a>

                <% } %>
                <div class="d-flex justify-content-between align-items-center">
                    <% if(user){
                        if(user.type == "admin"){
                    %>
                <div class="btn-group" role="group">
                            <a href="/event/detail?id=<%= event._id %>"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                            <a href='/event/edit?id=<%= event._id %>'><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                </div>
                    <a href="/event/delete?id=<%= event._id %>"><button class="btn btn-danger btn-sm bi bi-trash3"></button></a>
                <% }} %>
            </div>
        </div>
        </div>
    </div>
    <% }); %>
</div>